
.confirm-modal {
    position: fixed;
    background-color: #222F45;
    width: 40%;
    border-radius: 24px;
    padding: 25px 35px 25px 35px;
    top: 25%;
    left: 30%;
    right: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.confirm-modal-open {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.content {
    text-align: left;
    color: #FFFFFF;
}

.content .header {
    display: flex;
    justify-content: space-between;
}

.action {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.action button {
    display: flex;
}